# Week 1 Challenge Project
This is the complete notebook, which includes both the data cleaning and visualization section released on Day 2, and additional guidelines for model creation and evaluation. If you were already working on the notebook from before, you may have to copy your work over.

At the end of this notebook, there is also a description of how to finalize and present your project.

## Challenge Introduction

> Original author: Lyle Lalunio

Hypothyroidism, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone. It can cause a number of symptoms, such as poor ability to tolerate cold, a feeling of tiredness, constipation, depression, and weight gain. Occasionally there may be swelling of the front part of the neck due to goitre. Untreated hypothyroidism during pregnancy can lead to delays in growth and intellectual development in the baby or cretinism.

Worldwide, too little iodine in the diet is the most common cause of hypothyroidism. In countries with enough iodine in the diet, the most common cause of hypothyroidism is the autoimmune condition Hashimoto's thyroiditis. Less common causes include: previous treatment with radioactive iodine, injury to the hypothalamus or the anterior pituitary gland, certain medications, a lack of a functioning thyroid at birth, or previous thyroid surgery. The diagnosis of hypothyroidism, when suspected, can be confirmed with blood tests measuring thyroid-stimulating hormone (TSH) and thyroxine levels.

Worldwide about one billion people are estimated to be iodine deficient; however, it is unknown how often this results in hypothyroidism. In the United States, hypothyroidism occurs in 0.3â€“0.4% of people.

And that is why we iodize salt.

![alt text](https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/39/ds00181_-ds00344_-ds00353_-ds00491_-ds00492_-ds00567_-ds00660_-my00709_im01872_thyroid_gif.jpg)

Background: Doctors all around the world need our help to predict whether a patient has hypothyroid disease. We have already overspent our budget to collect such complete data on about 30 attributes for 2800 patients--a good starting number, but a larger sample would certainly be preferred. Moving forward, however, we simply cannot afford to spend so much money on data collection. Therefore, we also need to determine which attributes are the most meaningful to the predictive models, and cut out the rest that don't contribute much. 

The boss wants to see a **balanced** model that can predict with a **high sensitivity** and **high specificity** while using a ***low amount of features***. Collecting complete data such as this is very rare, very time-consuming, and often very expensive. By minimizing the number of features, it will optimize future data collection by deciding what needs to be collected, and what doesn't.

## Loading the data

Let's read the data into a Pandas dataframe and look at the first 20 records.

In [20]:
import pandas as pd
### Your code here

url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/ChallengeProjects/Week1/allhypo.train.data.csv"
dataset=pd.read_csv(url) 
dataset.head(10)

# dataset[['TSH', 'class']].head(10)
# out_file = open("data.txt", "w")
# out_file.printf("test")

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source,class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
5,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
6,59,F,f,f,f,f,f,f,f,f,...,t,72,t,0.92,t,78,f,?,other,negative.|1595
7,80,F,f,f,f,f,f,f,f,f,...,t,80,t,0.7,t,115,f,?,SVI,negative.|1367
8,66,F,f,f,f,f,f,f,f,f,...,t,123,t,0.93,t,132,f,?,SVI,negative.|1787
9,68,M,f,f,f,f,f,f,f,f,...,t,83,t,0.89,t,93,f,?,SVI,negative.|2534

Great, looks like the data loaded in properly. Let's continue looking at some summary statistics on our data.

## Viewing summary statistics
The functions describe() and info() are your friends

In [83]:
# dataset.describe()

In [84]:
# dataset.info()

Note the data types are all objects--even columns that are obviously numeric like Age.

## Data cleaning

To start, let's make all the numerical columns contain the correct type of values and change the data type of those columns to numeric. Let's also replace all those question marks with the median of the respective column.

Hint: To make it easier, first try converting all the "?" to NaN.

In [21]:
import numpy as np

dataset = dataset.replace(to_replace='?', value=float("NaN"))
numeric_columns = ['Age', 'TSH', 'T3', 'TT4', 'T4u', 'FTI']
dataset[numeric_columns] = dataset[numeric_columns].apply(pd.to_numeric)

# medians = dataset[numeric_columns].median()
# print(medians)
# dataset = dataset.replace(to_replace=np.nan, value=medians)

dataset = dataset[dataset['TSH measured'] == 't']
dataset = dataset[['TSH', 'class']]
dataset = dataset.reset_index()
dataset.head()

   index   TSH           class
0      0  1.30  negative.|3733
1      1  4.10  negative.|1442
2      2  0.98  negative.|2965
3      3  0.16   negative.|806
4      4  0.72  negative.|2807

Hmm, still looks like the TBG column is unfilled, implying it was empty to begin with. Let's get rid of this column, then (and make sure to get rid of it in your list of numeric columns, too!)

In [86]:
## YOUR CODE HERE

# dataset=dataset.drop('TBG', axis=1)

All right, let's take a look now at the info of *just the numeric columns* in the dataset:

In [87]:
# copy[numeric_columns].info()

Perfect, now let's fix that class feature. According to the note the data collectors included with this data, the ".|####" refers to a patient number, and is not necessarily relevant for our purposes here.

In [88]:
### Your code here

Let's run the describe() function on just the "class" column.

In [22]:
## YOUR CODE HERE

for i, diagnosis in enumerate(dataset['class']):
  ndiagnosis = diagnosis.split('.')[0]
  dataset.at[i,'class'] = ndiagnosis

It looks like there are actually 4 unique classification variables! Thank goodness we didn't assume it was binary.

Display all the unique values in the class column.

In [23]:
### Your code here

dataset['class'].unique()

array(['negative', 'compensated hypothyroid', 'primary hypothyroid',
       'secondary hypothyroid'], dtype=object)

But let's make it binary for the sake of this example anyway. If you finish early later on, try the multiclass classifier with all 4 values!

In [24]:
# dataset['class'] = dataset['class'].replace({'compensated hypothyroid': 'positive', 'primary hypothyroid': 'positive', 'secondary hypothyroid': 'positive'})

dataset['class'] = dataset['class'].replace({'compensated hypothyroid': 1, 'primary hypothyroid': 1, 'secondary hypothyroid': 1, 'negative': 0})
dataset['class'] = dataset['class'].apply(pd.to_numeric)

Before we move on, let's not forget to run the describe() function on just  your categorical columns, too.
Compare it to the describe() that your numeric columns produce.

In [25]:
### Your code here

dataset['class'].unique()

array([0, 1])

Great! Let's see if there's any other records we have to address. count() is a nice way to check if we have any other missing values.

In [26]:
dataset.count()

index    2516
TSH      2516
class    2516
dtype: int64

We could replace the missing values in proportion to the current number of males and females over the total, but that is making an assumption we don't have to make. For now, let's simply cut the records of all these sexless people out of our data.

In [94]:
## YOUR CODE HERE

# dataset=dataset[(dataset['Sex'] == 'F') | (dataset['Sex'] == 'M')]

Nice! Now we have a pretty clean dataset to work with. Let's now do some further data analysis and visualization to better understand what we're working with.

## Data analysis and visualization

Check the correlation

In [27]:
## YOUR CODE HERE

dataset.corr()

          index       TSH     class
index  1.000000  0.019150 -0.031565
TSH    0.019150  1.000000  0.423229
class -0.031565  0.423229  1.000000

Convert the class feature to numeric so we can also see the correlations it has with the numeric features, and check the correlation again.

In [96]:
# import pandas as pd
### Your code here

Let's do some further visual analysis using a new module called seaborn. Explore its incredible versatility and diversity with data visualization here: https://seaborn.pydata.org/

In [97]:
import seaborn as sns
# sns.pairplot(copy)

OK! I think we're ready to create and select some supervised learning models. To get the ball rolling, select Age and Sex as our explanatory features (and class as the target feature, obviously).

In [98]:
# dataset.describe()
numeric_columns.append('class')

Now let's take a look at our categorical columns!

In [99]:
## YOUR CODE HERE

# del numerical_columns
# numeric_columns.append('class')

categorical_columns=[]
def generate_categorical_columns():
    categorical_columns = []
    for i in dataset.columns:
        if i not in numeric_columns:
            categorical_columns.append(i)
    print(numeric_columns)
    print(categorical_columns)

generate_categorical_columns()

# dataset[categorical_columns].describe()
dataset=dataset.drop('TBG measured', axis=1)
print(dataset)

['Age', 'TSH', 'T3', 'TT4', 'T4u', 'FTI', 'class']
['Sex', 'On thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'psych', 'TSH measured', 'T3 measured', 'TT4 measured', 'T4U measured', 'FTI measured', 'TBG measured', 'referral source']
       Age Sex On thyroxine query on thyroxine on antithyroid medication sick  \
0     41.0   F            f                  f                         f    f
1     23.0   F            f                  f                         f    f
2     46.0   M            f                  f                         f    f
3     70.0   F            t                  f                         f    f
4     70.0   F            f                  f                         f    f
...    ...  ..          ...                ...                       ...  ...
2795  70.0   M            f                  f                         f    f
2796  73.0   M            f                  t                         f    f
2797  75.0   M            f                  f                         f    f
2798  60.0   F            f                  f                         f    f
2799  81.0   F            f                  f                         f    f

     pregnant thyroid surgery I131 treatment query hypothyroid  ...  \
0           f               f              f                 f  ...
1           f               f              f                 f  ...
2           f               f              f                 f  ...
3           f               f              f                 f  ...
4           f               f              f                 f  ...
...       ...             ...            ...               ...  ...
2795        f               f              f                 f  ...
2796        f               f              f                 f  ...
2797        f               f              f                 f  ...
2798        f               f              f                 f  ...
2799        f               f              f                 f  ...

     T3 measured   T3 TT4 measured    TT4 T4U measured   T4u  FTI measured  \
0              t  2.5            t  125.0            t  1.14             t
1              t  2.0            t  102.0            f  0.98             f
2              f  2.0            t  109.0            t  0.91             t
3              t  1.9            t  175.0            f  0.98             f
4              t  1.2            t   61.0            t  0.87             t
...          ...  ...          ...    ...          ...   ...           ...
2795           f  2.0            t  155.0            t  1.05             t
2796           t  0.7            t   63.0            t  0.88             t
2797           f  2.0            t  147.0            t  0.80             t
2798           f  2.0            t  100.0            t  0.83             t
2799           t  1.5            t  114.0            t  0.99             t

        FTI  referral source class
0     109.0             SVHC     0
1     107.0            other     0
2     120.0            other     0
3     107.0            other     0
4      70.0              SVI     0
...     ...              ...   ...
2795  148.0              SVI     0
2796   72.0            other     0
2797  183.0            other     0
2798  121.0            other     0
2799  115.0              SVI     0

[2690 rows x 27 columns]

Uh oh... we have several features that are non-informative (they only have a single value).  We probably didn't notice this before because there were still '?' values in there, or perhaps when we threw out that 30% of our data we got rid of some variation in these features.  Let's just drop those columns.

In [100]:
## YOUR CODE HERE

We can convert categorical columns (i.e., True/False or Male/Female) into indicator values (0,1) using a pretty nifty feature: [pandas.get_dummies()](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.get_dummies.html).  We can convert categorical columns (i.e., True/False or Male/Female) into indicator values (0,1) using a pretty nifty feature: [pandas.get_dummies()](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.get_dummies.html).

In [101]:
## YOUR CODE HERE

# print(dataset.columns)
# print(pd.get_dummies(dataset, drop_first=True).columns)

dataset = pd.get_dummies(dataset, drop_first=True)
print(dataset)

       Age   TSH   T3    TT4   T4u    FTI  class  Sex_M  On thyroxine_t  \
0     41.0  1.30  2.5  125.0  1.14  109.0      0      0               0
1     23.0  4.10  2.0  102.0  0.98  107.0      0      0               0
2     46.0  0.98  2.0  109.0  0.91  120.0      0      1               0
3     70.0  0.16  1.9  175.0  0.98  107.0      0      0               1
4     70.0  0.72  1.2   61.0  0.87   70.0      0      0               0
...    ...   ...  ...    ...   ...    ...    ...    ...             ...
2795  70.0  2.70  2.0  155.0  1.05  148.0      0      1               0
2796  73.0  1.40  0.7   63.0  0.88   72.0      0      1               0
2797  75.0  1.40  2.0  147.0  0.80  183.0      0      1               0
2798  60.0  1.40  2.0  100.0  0.83  121.0      0      0               0
2799  81.0  1.20  1.5  114.0  0.99  115.0      0      0               0

      query on thyroxine_t  ...  psych_t  TSH measured_t  T3 measured_t  \
0                        0  ...        0               1              1
1                        0  ...        0               1              1
2                        0  ...        0               1              0
3                        0  ...        0               1              1
4                        0  ...        0               1              1
...                    ...  ...      ...             ...            ...
2795                     0  ...        0               1              0
2796                     1  ...        0               0              1
2797                     0  ...        0               0              0
2798                     0  ...        0               1              0
2799                     0  ...        0               1              1

      TT4 measured_t  T4U measured_t  FTI measured_t  referral source_SVHC  \
0                  1               1               1                     1
1                  1               0               0                     0
2                  1               1               1                     0
3                  1               0               0                     0
4                  1               1               1                     0
...              ...             ...             ...                   ...
2795               1               1               1                     0
2796               1               1               1                     0
2797               1               1               1                     0
2798               1               1               1                     0
2799               1               1               1                     0

      referral source_SVHD  referral source_SVI  referral source_other
0                        0                    0                      0
1                        0                    0                      1
2                        0                    0                      1
3                        0                    0                      1
4                        0                    1                      0
...                    ...                  ...                    ...
2795                     0                    1                      0
2796                     0                    0                      1
2797                     0                    0                      1
2798                     0                    0                      1
2799                     0                    1                      0

[2690 rows x 30 columns]

## Model training and selection

Let's use get_dummies on the categorical variables (but not the class value!) to view the column names to select some for our model.

In [102]:
### Your code here

All right, let's now split our data into training and testing in an 80-20 split. For consistency, let's all use a seed of 8675309.

In [35]:
from sklearn.model_selection import train_test_split

## Your code here

feature_names=[]
for i in dataset.columns:
    if(i != 'class'):
        feature_names.append(i);
X_train, X_val, y_train, y_val = train_test_split(dataset[feature_names], dataset['class'], test_size=0.5, random_state=8675309)

For reusability, let's make a logistic regression function that will take our training and testing data as arguments. Inside the function, build a model on your training data, fit it with your training class data, and return a list of your predictions.

In [104]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

def log_reg(train_X,train_Y,test_X,test_Y):

    ### Your code here
    
    model = LogisticRegression()
    model.fit(train_X, train_Y)
    # print("Training Score", accuracy_score(train_Y, model.predict(train_X)))
    # print("Test Score", accuracy_score(test_Y, model.predict(test_X)))
    return model

#print(feature_names)
# log_reg(X_train, y_train, X_val, y_val)

Fantastic, we have just built a logistic regression model! Let's go see how well it performs.

### Model evaluation

To start, let's establish the baseline performance. This is important because it provides a starting point of comparison for later evaluation methods, like accuracy.

A good baseline model to use is the Zero Rule algorithm. In classification problems, it simply predicts the class value with the greatest number of instances every time.

In [105]:

def zero_rule_algorithm_classification(train,test):
    ## Your code here
    pv=y_train.unique()
    c=-1
    v=-1
    for k in pv:
        q = (y_train == k).sum()
        if q > c:
            v = k
            c = q
    return v


zero_rule_algorithm_classification(X_train, X_val)

0

Get your baseline performance by calculating the accuracy of your Zero Rule algorithm.

In [106]:
## Your code here

print("Training Score", accuracy_score(y_train, [0]*len(y_train)))
print("Test Score", accuracy_score(y_val, [0]*len(y_val)))

Training Score 0.9219330855018587
Test Score 0.9211895910780669

So maybe accuracy isn't the best performance measure for this dataset. As you've seen already, even when the models predict "negative" for all the records, we could already achieve a ~92% accuracy. However, that also implies we incorrectly predicted 100% of the positive cases, which in the context of this problem, is fatal.

Thankfully, it isn't the only way to evaluate your model. Let's start by creating a confusion matrix using the logistic regression function you built earlier.

In [33]:
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
### Your code here

## Confusion matrices

## YOUR CODE HERE

# still X_train, y_train, X_val, y_val

# Copied (and modified) from Tutorial
def plot_cmatrix(cm,labels=[0,1],title='Confusion Matrix'):
  fig = plt.figure()
  ax = fig.add_subplot(111)
  cax = ax.matshow(cm,cmap='Reds')
  plt.title('\n'+title+'\n', fontsize=20)
  fig.colorbar(cax)
  ax.set_xticklabels([''] + labels, fontsize=16)
  ax.set_yticklabels([''] + labels, fontsize=16)
  plt.xlabel('Predicted', fontsize=16)
  plt.ylabel('True', fontsize=16)
  plt.show()

def solve_Metrics(model, X, y, scaled=False):
    y_pred = model.predict(X)
    
    TP = ((y == 1) & (y_pred == 1)).sum()
    TN = ((y == 0) & (y_pred == 0)).sum()
    FP = ((y == 0) & (y_pred == 1)).sum()
    FN = ((y == 1) & (y_pred == 0)).sum()
    
    print("Accuracy:", accuracy_score(y, y_pred))
    print("True Positive:", TP)
    print("True Negative:", TN)
    print("False Positive:", FP)
    print("False Negative:", FN)
    
    plot_cmatrix([[TN, FP],[FN, TP]])
    plot_cmatrix([[TN/(TN+FP), FP/(TN+FP)],[FN/(FN+TP), TP/(FN+TP)]], title="Normalized Confusion Matrix")

def plot_logreg():
    model = log_reg(X_train[['TSH']], y_train, X_val[['TSH']], y_val);
    print("Training")
    solve_Metrics(model, X_train[['TSH']], y_train)
    print("Validation")
    solve_Metrics(model, X_val[['TSH']], y_val)

def plot_knn():
    model = KNeighborsClassifier(n_neighbors=5)
    model.fit(X_train, y_train)
    print("Training")
    solve_Metrics(model, X_train, y_train)
    print("Validation")
    solve_Metrics(model, X_val, y_val)

def plot_knn_2():
    model = KNeighborsClassifier(n_neighbors=3)
    main_feat = ['TSH']
    X_train_copy = np.copy(X_train[main_feat])
    y_train_copy = np.copy(y_train)
    no_good_x = X_train_copy[y_train_copy == 1]
    no_good_y = y_train_copy[y_train_copy == 1] # should be array full of ones
    X_train_copy = np.concatenate([X_train_copy, no_good_x*0])
    y_train_copy = np.concatenate([y_train_copy, no_good_y*0])
    
    model.fit(X_train_copy, y_train_copy)
    print("Training")
    solve_Metrics(model, X_train[main_feat], y_train)
    print("Validation")
    solve_Metrics(model, X_val[main_feat], y_val)
    
def plot_TSH():
    main_feat = ['TSH', 'FTI']
    plt.figure(figsize=(14, 8))
    X_pos = X_train[(y_train == 1) & (X_train['TSH'] < 200)]
    X_neg = X_train[(y_train == 0) & (X_train['TSH'] < 200)]
    #plt.scatter(X_neg[main_feat[0]], X_neg[main_feat[1]], c="#00b00010", s=64, marker='o')
    #plt.scatter(X_pos[main_feat[0]], X_pos[main_feat[1]], c="#b00000a0", s=64, marker='o')
    
    X_pos_M = X_pos[X_pos['Sex_M'] == 1]
    X_pos_F = X_pos[X_pos['Sex_M'] == 0]
    X_neg_M = X_neg[X_neg['Sex_M'] == 1]
    X_neg_F = X_neg[X_neg['Sex_M'] == 0]
    plt.scatter(X_neg_M[main_feat[0]], X_neg_M[main_feat[1]], c="#00b00030", s=64, marker='x')
    plt.scatter(X_neg_F[main_feat[0]], X_neg_F[main_feat[1]], c="#00b00030", s=64, marker='o')
    plt.scatter(X_pos_M[main_feat[0]], X_pos_M[main_feat[1]], c="#b00000b0", s=64, marker='x')
    plt.scatter(X_pos_F[main_feat[0]], X_pos_F[main_feat[1]], c="#b00000b0", s=64, marker='o')
    plt.xlabel(main_feat[0])
    plt.ylabel(main_feat[1])
    plt.show()

# plot_logreg();
# plot_knn_2();
# plot_TSH();

In [41]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
import graphviz
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

FinalModel=0
def perform_decision_tree():
    decision_tree = DecisionTreeClassifier(criterion = "entropy", random_state = None,
                                  max_depth=1)  # minimum sample leafs is the minimum sample 
                                                                    # amount the leaf can have

    # print(X_train.columns)
    aspect = X_train.columns
    # training/fitting the model with training data
    decision_tree.fit(X_train[aspect], y_train)

    #printing accuracy of testing & training data
    y_train_pred=decision_tree.predict(X_train[aspect])
    print("Training Accuracy is ", accuracy_score(y_train, y_train_pred)*100)
    confusion_matrix(y_train, y_train_pred)
    # solve_Metrics(decision_tree, X_train[aspect], y_train)
    
    y_val_pred=decision_tree.predict(X_val[aspect])
    print("Validation Accuracy is ", accuracy_score(y_val,y_val_pred)*100)
    confusion_matrix(y_val, y_val_pred)
    # solve_Metrics(decision_tree, X_val[aspect], y_val)
    
    dot_data = tree.export_graphviz(decision_tree, out_file=None, filled=True)
    graph = graphviz.Source(dot_data)
    # graph.view()
    
    global FinalModel
    FinalModel = decision_tree

perform_decision_tree()

Training Accuracy is  98.25119236883943
Validation Accuracy is  97.05882352941177

Hopefully you remember our discussion of the Area Under the Receiver Operator Curve metric. This can measure the accuracy of a test to discriminate diseased cases from normal cases.

When you consider the results of a particular test in two populations, one population with a disease, the other population without the disease, you will rarely observe a perfect separation between the two groups. Hence, the overlapping areas in the diagram below (FN, FP).

To review, on a Receiver Operating Characteristic (ROC) curve, the true positive rate is plotted in function of the false positive rate for different cut-off points. Each point on the ROC curve represents a sensitivity/specificity pair corresponding to a particular decision threshold. A test with perfect discrimination (no overlap in the two distributions) has a ROC curve that passes through the upper left corner. Therefore the closer the ROC curve is to the upper left corner, the higher the overall accuracy of the test.

![alt text](https://www.medcalc.org/manual/_help/images/roc_intro1.png)

Now, to graph the AUROC curve, we will need to predict probabilities of choosing a specific class value rather than the class value itself. Make a new logistic regression model that does so.

In [ ]:
from sklearn.linear_model import LogisticRegression

### Your code here

Now calculate the area under the receiver operator curve with your predictions.

In [ ]:
from sklearn import metrics

### Your code here

Now graph the ROC curve using matplotlib, fully labeled.

In [ ]:
import matplotlib.pyplot as plt
### Your code here

In conclusion, it looks like this model performed pretty bad. It's probably best to try out different columns or perhaps use a different model before we submit our model for scoring. Get creative!

In [ ]:
## Your code here

## Submitting your Model

Once you believe to have found the best classifier, run your classifier on the test data and make a pickle file containing of your predictions contained a pandas dataframe.

This pandas dataframe will contain three columns for your binary classifier (or 5 columns for the multiclass classifier): the first column should be your model's "best guess" for each patient (either 0 or 1, negative or positive) and the last two columns should be the probability the patient would be classified as either a 0 or 1.

(see below for reference)

In [39]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/ChallengeProjects/Week1/allhypo.test.data.csv"
test_data=pd.read_csv(url) 
test_data.head()

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source
0,35,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,f,?,f,?,other
1,63,M,f,f,f,f,f,f,f,f,...,2.5,t,108,t,0.96,t,113,f,?,SVI
2,25,F,f,f,f,f,f,f,f,f,...,2.4,t,61,t,0.82,t,75,f,?,SVHD
3,53,F,f,f,f,f,f,f,f,t,...,2.1,t,145,t,1.03,t,141,f,?,other
4,92,F,f,f,f,f,f,f,f,f,...,1.3,t,120,t,0.84,t,143,f,?,SVI

In [37]:
#pickling example
import pickle
predictions=pd.DataFrame({"guesses":[0,1,0,1],"prob_neg":[.75,.15,.63,.20],"prob_pos":[.25,.85,.27,.80]})
prediction_pickle_path = 'prediction_pickle.pkl'

from google.colab import files
# Create an variable to pickle and open it in write mode
prediction_pickle = open(prediction_pickle_path, 'wb')
pickle.dump(predictions, prediction_pickle)
files.download(prediction_pickle_path)
prediction_pickle.close()

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
prediction_unpickle = open(prediction_pickle_path, 'rb')
 
# load the unpickle object into a variable
predictions = pickle.load(prediction_unpickle)
 
print(predictions)

We will compare your guesses with the true classifications to score your model using the AUC metric.

## Presenting your Model

Finally, we would like you to be able to present your model to the class. Prepare a notebook with the following things:

* **Features Chosen:** a list of the features used in your model, and an explanation of how you chose them.
* **Type of Model:** an explanation of the model type, parameters used, and why.
* **Evaluation:** at least one plot showing an evaluation of your model against a validation set. You can use a confusion matrix, AUROC, or another metric of your choice.

Feel free to include one or two additional plots that describe your process and/or model if you think that would be helpful.

## Moving to the Next Level

For those that finish early, remember how we converted the class values into the binary of "negative" and "positive"? Now try tackling the multiclass classifier (predicting the different types of positive hypothyroid cases instead of simply negative or positive)! 

The same rules apply!