# Pandas Problem Set

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [3]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [5]:
# your code here
data = pd.read_cvs(url, names=names)

Print out the age and class of the 100th patient

In [16]:
print(data['age'][99], data['class'][99])

31 1

Write code to figure out how many people are classified as not having diabetes, class is 0

In [17]:
# your code here
(data['class']==0).sum()

500

Write code to figure out how many people are classified as having diabetes, class is 1

In [18]:
# your code here
(data['class']==1).sum()

268

What percent of people have diabetes in the study

In [19]:
# your code here
(data['class']==1).sum()*100/data.shape[0]

34.895833333333336

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [25]:
# your code here
print(data.head())

# print(data[:5])

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Run the cell below, it will print out the correlation among the columns

In [21]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [28]:
# your code here

# plas

plasmean = data['plas'].mean();
print(plasmean)

120.89453125

Create a new dataframe with only people that are above the mean found above

In [29]:
# your code here

data2 = data[data.plas>plasmean]

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [42]:
# write code here
means = {}
for i in names:
    if i!='class':
        means[i] = data[i].mean()
ok = np.ndarray((data.shape[0]), dtype=bool)
ok.fill(True)

for i in names:
    if i!='class':
        ok = ok & (data[i]>means[i])

data3 = data[ok]
print(data3)

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1
215    12   151    70    40   271  41.8  0.742   38      1
236     7   181    84    21   192  35.9  0.586   51      1
259    11   155    76    28   150  33.3  1.353   51      1
286     5   155    84    44   545  38.7  0.619   34      0
375    12   140    82    43   325  39.2  0.528   58      1
424     8   151    78    32   210  42.9  0.516   36      1
458    10   148    84    48   237  37.6  1.001   51      1
546     5   187    76    27   207  43.6  1.034   53      1
594     6   123    72    45   230  33.6  0.733   34      0
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1
614    11   138    74    26   144  36.1  0.557   50      1
663     9   145    80    46   130  37.9  0.637   40      1
744    13   153    88    37   140  40.6  1.174   39      0

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [49]:
# write code here

data4 = data
# sample = filtered_dataframe_age_preg.sort_values(by='preg', ascending=False, na_position='first') #descending order

print(data4.sort_values(by=['skin', 'test', 'pedi'], ascending=True))
# print(data4.sort_values(by='test', ascending=True))
# print(data4.sort_values(by='pedi', ascending=True))

     preg  plas  pres  skin  test  mass   pedi  age  class
268     0   102    52     0     0  25.1  0.078   21      0
180     6    87    80     0     0  23.2  0.084   32      0
598     1   173    74     0     0  36.8  0.088   38      1
81      2    74     0     0     0   0.0  0.102   22      0
430     2    99     0     0     0  22.2  0.108   23      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
211     0   147    85    54     0  42.8  0.375   24      0
120     0   162    76    56   100  53.2  0.759   25      1
57      0   100    88    60   110  46.8  0.962   31      0
445     0   180    78    63    14  59.4  2.420   25      1
579     2   197    70    99     0  34.7  0.575   62      1

[768 rows x 9 columns]

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [58]:
# write code here

print(data.nlargest(4, columns=['age', 'mass']))

     preg  plas  pres  skin  test  mass   pedi  age  class
459     9   134    74    33    60  25.9  0.460   81      0
453     2   119     0     0     0  19.6  0.832   72      0
666     4   145    82    18     0  32.5  0.235   70      1
123     5   132    80     0     0  26.8  0.186   69      0

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [61]:
#write code here

print(data.nsmallest(4, columns=['plas', 'preg'])[::-1])

     preg  plas  pres  skin  test  mass   pedi  age  class
349     5     0    80    32     0  41.0  0.346   37      1
342     1     0    68    35     0  32.0  0.389   22      0
182     1     0    74    20    23  27.7  0.299   21      0
75      1     0    48    20     0  24.7  0.140   22      0